:root {
    --primary: #ED1A2F;
}


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


button{
    padding: none;
    border: none;
    background-color: transparent;
}

button:hover{
    cursor: pointer;
}

